:root{--vm-text:#333;--vm-bg:#eee;--vm-link:#07b;--vm-tooltip:#888;}
@media(prefers-color-scheme:dark){
    :root{--vm-text:#eee;--vm-bg:#555;--vm-link:#7cf;}
    img:not([src$=".svg"]){filter:brightness(70%);}
}

*{box-sizing:border-box;}
a{color:var(--vm-link);}
body{
    color:var(--vm-text);
    background-color:var(--vm-bg);
    font-family:sans-serif;
    max-width:60em;
    margin:auto;
    padding:1em;
}
h1{text-align:center;}
code{font-size:1.05em;padding:0 1px;border:1px solid var(--vm-tooltip);}
#history{width:100%;height:15em}
#cli{width:100%;}
.container{
    border:1px dotted blue;
    /* display:grid; */
    /* grid-template-columns: 1fr 1fr; */
}

.messages p{
    margin:auto;
    font-family:monospace
}
